<div class="modal fade" id="avisoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Aviso</h5>
            </div>
            <div id="modal-body" class="modal-body">
                <p id="modal-text" class="lead">

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Fechar
                </button>
            </div>
        </div>
    </div>
</div>


<script>
    function MostrarAviso(mensagem) {
        let modalbody = document.getElementById("modal-text");
        modalbody.innerHTML = mensagem
        $('#avisoModal').modal('show')
    }
</script>